.vscode/

# Ignore all model artifacts except preprocessor.b
03-orchestration/pipeline/models/*
!03-orchestration/pipeline/models/preprocessor.b

# Ignore these two folders and their contents
03-orchestration/_video/
03-orchestration/_backup/

# Ignore from 04-deployment
04-deployment/.ipynb_checkpoints
04-deployment/output/

# Ignore from 05-monitoring
05-monitoring/.ipynb_checkpoints

# Ignore from 06-best-practices
06-best-practices/.ipynb_checkpoints
06-best-practices/__pycache__
06-best-practices/tests/__pycache__
06-best-practices/integration_tests/__pycache__
06-best-practices/data
06-best-practices/taxi_type=yellow_year=2023_month=03.parquet
